.notation-instruction {
  height: 44px;
  width: 64px;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}