.notation-instruction {
  height: 44px;
  width: 64px;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
  color: white;
  margin: 10px auto;
  border-radius: 8px;
  border: 2px solid black;
  background-color: rgb(19, 163, 74);
  display: flex;
  align-items: center;
  justify-content: center;
}