.board {
  height: 620px;
  width: 620px;
  padding: 20px;
  margin: 10px;
  background-color: #353535;
  display: flex;
  border: 1px solid black;
  box-shadow: 0 0 10px;
}

.squares {
  border: 2px solid black;
  box-shadow: 0 0 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rank {
  display: flex;
  flex: 1;
}