.board-square {
  flex: 1;
}

.board-square:hover {
  background-color: rgb(255, 206, 115)!important;
  cursor: pointer;
}

.board-square.wrong-answer:active {
  background-color: red!important;
}

.board-square.correct-answer:active {
  background-color: lawngreen!important;
}