.app {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
}

.panel-main, .panel-before, .panel-after {
  display: flex;
  flex-direction: column;
}

.panel-before, .panel-after {
  width: 220px;
  padding: 20px;
  background-color: rgba(233, 233, 233, 0.4);
}

.panel-main {
  flex: 1;
  align-items: center;
}

@media all and (max-width: 1280px) {
  .panel-before {
    display: none;
  }
}
@media all and (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .panel-main {
    flex: initial;
  }

  .panel-after {
    width: inherit;
    flex: 1;
    margin-top: 20px;
    align-items: center;
  }
}
@media all and (max-width: 600px) {

}