.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  font-family: 'Cabin', sans-serif;
}

.app-title {
  font-size: 1.2em;
}

.app-intro {
  font-size: large;
}

main {
  display: flex;
}

.mid, .left, .right {
  display: flex;
  flex-direction: column;
}

.left, .right {
  width: 200px;
  margin: 20px;
}

.mid {
  flex: 1;
  align-items: center;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
