main {
  display: flex;
}

.mid, .left, .right {
  display: flex;
  flex-direction: column;
}

.left, .right {
  width: 200px;
  margin: 20px;
}

.mid {
  flex: 1;
  align-items: center;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
